body{
  font-family: Arial;
}

.todo-list-output{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

/*I have to separate it so I can add the delete all button to work 😉*/
.todoList-inputs{
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 200px 150px 100px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.name-input,
.due-date-input{
  padding: 6px;
  font-size: 15px;
}

.add-todo-button{
  background-color: green;
  color: white;
  border: none;
  padding: 9px;
  font-weight: bold;
  cursor: pointer;
}

.delete-todo-button{
  background-color: darkred;
  color: white;
  border: none;
  padding: 9px;
  font-weight: bold;
  cursor: pointer;
}